<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <link rel="stylesheet" href="/static/js/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="/static/js/lib/jquery2.2.4/jquery-2.2.4.min.js"></script>
    <script src="/static/js/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/login.css">

</head>
<body>
<div class="container">
    <div id="logo_head">
        <p>13.29</p>
    </div>
    <div id="logo-middle">
        <a href="/blog/login_3/">登录</a>
        <p>.</p>
        <a href="/blog/register/">注册</a>

        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" class="form-control" name="name" placeholder="手机号或邮箱" aria-describedby="sizing-addon1">
        </div>
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon2"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="text" class="form-control" name="nickname" placeholder="密码" aria-describedby="sizing-addon1">
        </div>
        <span id="remember"><input type="checkbox">记住我</span>
        <a id="ind" href="">登录遇到问题？</a>
        <div id="button1">
        <button type="button" class="btn-group btn-group-lg">登录</button>
        </div>

        <span id="society1">——————<span id="society2">社交账号登录</span>——————</span>
        <div id="pic">
            <a href="" style="margin-left:80px;"><img src="/static/images/login&register.images/微博.png"></a>
            <a href="" style="margin-left:20px;"><img src="/static/images/login&register.images/QQ.png"></a>
            <a href="" style="margin-left:20px; margin-top:14px;"><img src="/static/images/login&register.images/微信.png"></a>
            <span id="sp">其它</span>
        </div>

    </div>
</div>
</body>
</html>