<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客首页</title>
    <link rel="stylesheet" href="/static/js/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="/static/js/lib/jquery2.2.4/jquery-2.2.4.min.js"></script>
    <script src="/static/js/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/index.css">

</head>
<body>
<!--
    网页头部导航条
-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">PYthon1807A博客</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#"><i class="glyphicon glyphicon-home"></i> 首页 <span class="sr-only">(current)</span></a></li>
                <li><a href="#"><i class="glyphicon glyphicon-user"></i> 个人主页</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-text-size"></i> 发表文章</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-comment"></i> 我的消息<i class="label label-danger">10</i></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-link"></i> 网站导航 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">发表文章</a></li>
                        <li><a href="#">查看文章</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">查看喜欢的文章</a></li>
                        <li><a href="#">查看收藏的文章</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">查看消息</a></li>
                        <li><a href="#">最新评论</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">修改登录密码</a></li>
                        <li><a href="#">完善个人资料</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="请输入关键词">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/blog/register/">新用户注册</a></li>
                <li><a href="/blog/login_3/">会员登录</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!--
    网页头部轮播+广告
-->
<div class="container">
    <div class="row">
        <!-- 轮播图 -->
        <div class="col-md-8">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="/static/images/index.images/banel/1.jpg" alt="...">
                        <div class="carousel-caption">
                            广告展示信息
                        </div>
                    </div>
                    <div class="item">
                        <img src="/static/images/index.images/banel/2.jpg" alt="...">
                        <div class="carousel-caption">
                            广告展示信息
                        </div>
                    </div>
                    <div class="item" style="width:750px;height:422px;">
                        <img src="/static/images/index.images/banel/3.jpg" alt="...">
                    </div>
                    <div class="item">
                        <img src="/static/images/index.images/banel/4.jpg" alt="...">
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">上一张</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">下一张</span>
                </a>
            </div>
        </div>

        <!-- 广告位 -->
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">博客推介</div>
                <div class="panel-body">
                    <p>
                        当智者拿起杖，当勇士拿起枪<br /><br />
                        异能者浅语轻言，默默吟唱<br /><br />
                        你心中可曾畏惧，那尸横遍野，那大战开场<br /><br />
                        当魔魂苏醒， 当诸神震怒 人类热血激荡，圣战八荒。<br /><br />
                        你是否就是那飞扬的旌旗，那踌躇的魔域之王？<br /><br />
                        当流离失所， 当风云变色。世界不再是旧日模样。<br /><br />
                        我们将为自己的梦想战斗，直到力战身亡，直至彼岸他乡<br /><br />
                    </p>
                </div>
            </div>
        </div>
    </div>
<!--
    网页主题-文章+推荐
-->
    <div class="container">
        <div class="row">
            <!--  文章列表-->
            <div class="col-md-8">
                <div class="panel panel-default hot-article">
                    <div class="panel-heading">热门文章</div>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="#"><i class="label label-danger">原创</i>习近平为长江生态画“红线”</a><i class="badge">2000</i></li>
                        <li class="list-group-item"><a href="#"><i class="label label-danger">原创</i>习近平为长江生态画“红线”</a><i class="badge">2000</i></li>
                        <li class="list-group-item"><a href="#"><i class="label label-success">转载</i>从日本到瑞典 中国外交官不该被键盘侠们一再误解</a><i class="badge">45456</i></li>
                        <li class="list-group-item"><a href="#"><i class="label label-success">转载</i>沈阳两起间谍案曝光:台湾间谍色诱利诱沈阳研究生</a><i class="badge">2000</i></li>
                        <li class="list-group-item"><a href="#"><i class="label label-warning">翻译</i>草莓里藏针 洪水中现海豚</a><i class="badge">234</i></li>
                        <li class="list-group-item"><a href="#"><i class="label label-warning">翻译</i>“山竹”逼近 广东多地辟谣“让学生返校”</a><i class="badge">2342</i></li>
                        <li class="list-group-item"><a href="#"><i class="label label-danger">原创</i>习近平为长江生态画“红线”</a><i class="badge">2000</i></li>
                        <li class="list-group-item"><a href="#"><i class="label label-danger">原创</i>习近平为长江生态画“红线”</a><i class="badge">2000</i></li>
                        <li class="list-group-item"><a href="#"><i class="label label-success">转载</i>央视快评：弘扬科学精神 增强公众科学素质</a><i class="badge">45434</i></li>
                        <li class="list-group-item"><a href="#"><i class="label label-success">转载</i>从日本到瑞典 中国外交官不该被键盘侠们一再误解</a><i class="badge">45456</i></li>
                        <li class="list-group-item"><a href="#"><i class="label label-success">转载</i>沈阳两起间谍案曝光:台湾间谍色诱利诱沈阳研究生</a><i class="badge">2000</i></li>
                        <li class="list-group-item"><a href="#"><i class="label label-warning">翻译</i>人民日报评论员：坚持党对教育事业的全面领导</a><i class="badge">34534</i></li>
                        <li class="list-group-item"><a href="#"><i class="label label-warning">翻译</i>草莓里藏针 洪水中现海豚</a><i class="badge">234</i></li>
                        <li class="list-group-item"><a href="#"><i class="label label-warning">翻译</i>iPhone仍有被禁风险</a><i class="badge">12</i></li>
                        <li class="list-group-item"><a href="#"><i class="label label-danger">原创</i>习近平为长江生态画“红线”</a><i class="badge">2000</i></li>
                        <li class="list-group-item"><a href="#"><i class="label label-danger">原创</i>习近平为长江生态画“红线”</a><i class="badge">2000</i></li>
                        <li class="list-group-item"><a href="#"><i class="label label-danger">原创</i>习近平为长江生态画“红线”</a><i class="badge">2000</i></li>
                        <li class="list-group-item"><a href="#"><i class="label label-danger">原创</i>习近平为长江生态画“红线”</a><i class="badge">2000</i></li>
                        <li class="list-group-item"><a href="#"><i class="label label-success">转载</i>央视快评：弘扬科学精神 增强公众科学素质</a><i class="badge">45434</i></li>
                        <li class="list-group-item"><a href="#"><i class="label label-success">转载</i>从日本到瑞典 中国外交官不该被键盘侠们一再误解</a><i class="badge">45456</i></li>
                        <li class="list-group-item"><a href="#"><i class="label label-warning">翻译</i>草莓里藏针 洪水中现海豚</a><i class="badge">234</i></li>
                        <li class="list-group-item"><a href="#"><i class="label label-danger">原创</i>习近平为长江生态画“红线”</a><i class="badge">2000</i></li>
                        <li class="list-group-item"><a href="#"><i class="label label-success">转载</i>央视快评：弘扬科学精神 增强公众科学素质</a><i class="badge">45434</i></li>
                        <li class="list-group-item"><a href="#"><i class="label label-success">转载</i>从日本到瑞典 中国外交官不该被键盘侠们一再误解</a><i class="badge">45456</i></li>
                        <li class="list-group-item"><a href="#"><i class="label label-success">转载</i>沈阳两起间谍案曝光:台湾间谍色诱利诱沈阳研究生</a><i class="badge">2000</i></li>
                        <li class="list-group-item"><a href="#"><i class="label label-warning">翻译</i>iPhone仍有被禁风险</a><i class="badge">12</i></li>
                    </ul>
                </div>
            </div>

            <!-- 推荐列表 -->
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">热门文章</div>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="#">热门文章</a></li>
                        <li class="list-group-item"><a href="#">热门文章</a></li>
                        <li class="list-group-item"><a href="#">热门文章</a></li>
                        <li class="list-group-item"><a href="#">热门文章</a></li>
                        <li class="list-group-item"><a href="#">热门文章</a></li>
                        <li class="list-group-item"><a href="#">热门文章</a></li>
                        <li class="list-group-item"><a href="#">热门文章</a></li>
                    </ul>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">推荐作者</div>
                    <ul class="list-group hot-author">
                        <li class="list-group-item"><img src="/static/images/index.images/headers/1.jpg" class="img-circle" alt=""><a href="#">涛涛</a></li>
                        <li class="list-group-item"><img src="/static/images/index.images/headers/3.jpg" class="img-circle" alt=""><a href="#">波波</a></li>
                        <li class="list-group-item"><img src="/static/images/index.images/headers/4.jpg" class="img-circle" alt=""><a href="#">默默</a></li>
                        <li class="list-group-item"><img src="/static/images/index.images/headers/5.jpg" class="img-circle" alt=""><a href="#">鹏鹏</a></li>
                        <li class="list-group-item"><img src="/static/images/index.images/headers/6.jpg" class="img-circle" alt=""><a href="#">松松</a></li>
                        <li class="list-group-item"><img src="/static/images/index.images/headers/7.jpg" class="img-circle" alt=""><a href="#">巡山哥</a></li>
                        <li class="list-group-item"><img src="/static/images/index.images/headers/8.jpg" class="img-circle" alt=""><a href="#">山药哥</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<!--
    网页页脚--网站备案信息+友情链接
-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline">
                    <li><a href="#" class="text-muted">简书</a></li>
                    <li><a href="#" class="text-muted">CSDN</a></li>
                    <li><a href="#" class="text-muted">百度一下</a></li>
                    <li><a href="#" class="text-muted">360搜</a></li>
                    <li><a href="#" class="text-muted">搜狐博客</a></li>
                    <li><a href="#" class="text-muted">新浪微博</a></li>
                    <li><a href="#" class="text-muted">天涯论坛</a></li>
                    <li><a href="#" class="text-muted">哔哩哔哩</a></li>
                    <li><a href="#" class="text-muted">知乎</a></li>
                    <li><a href="#" class="text-muted">啪啦啪啦</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-muted">
                <p>
                    版权所有&copy;翻版必究
                </p>
                <p>
                    增值电信业务经营许可证B2-20090108　电信与信息服务业务经营许可证000007号
                </p>
                <p>
                    广播电视节目制作经营许可证（京）字第828号 甲测资字1100078 京公网安备11000002000016号
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>